
<!-- <img src="/assets/profile.png" alt=""> -->
<a ng-href="/#!/users/login">Login</a>

<!-- <img src="<%= asset_path('profile.png"><img> -->
<div ng-repeat="post in posts | orderBy:'-upvotes'">
  <a ng-show="post.link" ng-href="/#!/posts/{{post.id}}">
    {{post.id}}
  </a>


  <span ng-hide="post.link">
    {{post.title}}
  </span>
  - upvotes: {{post.upvotes}}
  <a ng-href="#/posts/{{post.id}}">Comments</a>
</div>






<form ng-submit="addPost()">
  <input type="text" placeholder="Title" ng-model="title"></input>
  <br>
  <input type="text" placeholder="Link" ng-model="link"></input>
  <br>
  <button type="submit">Post</button>
</form>
